:root {
     --bg: #e3e4e8;
     --fg: #17181c;
     --primary: #255ff4;
     --yellow: #ffca76;
     --yellow-t: rgba(244, 168, 37, 0);
     --bezier: cubic-bezier(0.42, 0, 0.58, 1);
     --trans-dur: 0.3s;
}

 
 .rating__display {
     font-size: 1em;
     font-weight: 500;
     min-height: 1.25em;
     position: absolute;
     top: 100%;
     width: 100%;
     text-align: center;
}
 
.rating__stars {
    display: flex;
    padding-bottom: 0.375em;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}
 .rating__star {
     display: block;
     overflow: visible;
     pointer-events: none;
     width: 2em;
     height: 2em;
}
 .rating__star-ring, .rating__star-fill, .rating__star-line, .rating__star-stroke {
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
}
 .rating__star-ring, .rating__star-fill, .rating__star-line {
     stroke: var(--yellow);
}
 .rating__star-fill {
     fill: var(--yellow);
     transform: scale(0);
     transition: fill var(--trans-dur) var(--bezier), transform var(--trans-dur) var(--bezier);
}
 .rating__star-stroke {
     stroke: #c7cad1;
     transition: stroke var(--trans-dur);
}
 .rating__label {
     cursor: pointer;
     padding: 0.125em;
}
.rating__label:nth-of-type(2) .rating__star-stroke, .rating__label:nth-of-type(2) .rating__star-line, .rating__label:nth-of-type(2) .rating__star-ring, .rating__label:nth-of-type(2) .rating__star-fill {
     animation-delay: 0.5s;
}
.rating__label:nth-of-type(3) .rating__star-stroke, .rating__label:nth-of-type(3) .rating__star-line, .rating__label:nth-of-type(3) .rating__star-ring, .rating__label:nth-of-type(3) .rating__star-fill {
     animation-delay: 1s;
}
.rating__label:nth-of-type(4) .rating__star-stroke, .rating__label:nth-of-type(4) .rating__star-line, .rating__label:nth-of-type(4) .rating__star-ring, .rating__label:nth-of-type(4) .rating__star-fill {
     animation-delay: 1.5s;
}
.rating__label:nth-of-type(5) .rating__star-stroke, .rating__label:nth-of-type(5) .rating__star-line, .rating__label:nth-of-type(5) .rating__star-ring, .rating__label:nth-of-type(5) .rating__star-fill {
     animation-delay: 2s;
}

.rating__input {
     -webkit-appearance: none;
     appearance: none;
}
 .rating__input-1 ~ [data-rating="1"][hidden], .rating__input-2 ~ [data-rating="2"][hidden], .rating__input-3 ~ [data-rating="3"][hidden], .rating__input-4 ~ [data-rating="4"][hidden], .rating__input-5 ~ [data-rating="5"][hidden], .rating__input ~ [data-rating]:not([hidden]) {
     display: block;
}
 .rating__label:first-of-type .rating__star-stroke, .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
     stroke: var(--yellow);
     transform: scale(1);
}
 .rating__label:first-of-type .rating__star-ring, .rating__label:nth-of-type(-n + 2) .rating__star-ring, .rating__label:nth-of-type(-n + 3) .rating__star-ring, .rating__label:nth-of-type(-n + 4) .rating__star-ring, .rating__label:nth-of-type(-n + 5) .rating__star-ring {
     animation-name: starRing;
}
 .rating__label:first-of-type .rating__star-stroke, .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
     animation-name: starStroke;
}
 .rating__label:first-of-type .rating__star-line, .rating__label:nth-of-type(-n + 2) .rating__star-line, .rating__label:nth-of-type(-n + 3) .rating__star-line, .rating__label:nth-of-type(-n + 4) .rating__star-line, .rating__label:nth-of-type(-n + 5) .rating__star-line {
     animation-name: starLine;
}
 .rating__label:first-of-type .rating__star-fill, .rating__label:nth-of-type(-n + 2) .rating__star-fill, .rating__label:nth-of-type(-n + 3) .rating__star-fill, .rating__label:nth-of-type(-n + 4) .rating__star-fill, .rating__label:nth-of-type(-n + 5) .rating__star-fill {
     animation-name: starFill;
}
 .rating__input-1:not() ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:not() ~ .rating__label:nth-of-type(2) .rating__star-fill, .rating__input-3:not() ~ .rating__label:nth-of-type(3) .rating__star-fill, .rating__input-4:not() ~ .rating__label:nth-of-type(4) .rating__star-fill, .rating__input-5:not() ~ .rating__label:nth-of-type(5) .rating__star-fill {
     fill: var(--yellow-t);
}
 .rating__sr {
     clip: rect(1px, 1px, 1px, 1px);
     overflow: hidden;
     position: absolute;
     width: 1px;
     height: 1px;
}
 @media (prefers-color-scheme: dark) {
     :root {
         --bg: #17181c;
         --fg: #e3e4e8;
    }
    
     .rating__star-stroke {
         stroke: #454954;
    }
}
 @keyframes starRing {
     from, 20% {
         animation-timing-function: ease-in;
         opacity: 1;
         r: 8px;
         stroke-width: 16px;
         transform: scale(0);
    }
     35% {
         animation-timing-function: ease-out;
         opacity: 0.5;
         r: 8px;
         stroke-width: 16px;
         transform: scale(1);
    }
     50%, to {
         opacity: 0;
         r: 16px;
         stroke-width: 0;
         transform: scale(1);
    }
}
 @keyframes starFill {
     from, 40% {
         animation-timing-function: ease-out;
         transform: scale(0);
    }
     60% {
         animation-timing-function: ease-in-out;
         transform: scale(1.2);
    }
     80% {
         transform: scale(0.9);
    }
     to {
         transform: scale(1);
    }
}
 @keyframes starStroke {
     from {
         transform: scale(1);
    }
     20%, to {
         transform: scale(0);
    }
}
 @keyframes starLine {
     from, 40% {
         animation-timing-function: ease-out;
         stroke-dasharray: 1 23;
         stroke-dashoffset: 1;
    }
     60%, to {
         stroke-dasharray: 12 12;
         stroke-dashoffset: -12;
    }
}
